@page "/Default"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using BlazorApp1.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<button @onclick="CreateTeams">Create Teams</button>
<button @onclick="prevRound">Previous Round</button>
<button @onclick="update">Next Round</button>
<div>
    <input @bind="numberOfTeams" type="number" placeholder="Number of Teams" />
    <p>Number of Teams</p>
</div>
<div>
    <input @bind="round" type="number" placeholder="Round" />
    <p>Number of Rounds</p>
</div>

@if (teams.Count > 0)
{
    <h2>Round: @Globals.Global.CurrentRound</h2>
    <h2>Teams: @teams.Count</h2>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Team \ Round</th>
                @for (int i = 0; i < round; i++)
                {
                    <th>Round @(i + 1)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                @foreach (var teamRound in team.TeamRounds)
                {
                    @if (teamRound.RoundNumber == Globals.Global.CurrentRound)
                    {
                    <td><TeamInput Team="@team" TeamRound="@teamRound" /></td>
                }
                }
            }
        </tbody>
        </table>
</div>

@code {
    private int numberOfTeams;
    private int round = 5;
    private int counter = 0;
    private List<TeamModel> teams = Globals.Global.Teams;

    [Parameter]
    public Models.TeamRound TeamRound { get; set; }

    private void prevRound()
    {
        Globals.Global.CurrentRound--;
    }

    private void CreateTeams()
    {
        counter = 0;
        Globals.Global.Teams.Clear();
        for (int i = 1; i <= numberOfTeams; i++)
        {
            counter++;
            TeamModel team = new TeamModel(round)
            {
                TeamName = "Team " + counter,
                TeamNumber = counter,
            };
            teams.Add(team);
        }
        update();
    }

    private void update()
    {
        Globals.Global.CurrentRound++;

        foreach (var team in teams)
        {
            for (int i = 0; i < team.TeamRounds.Count; i++)
            {
                if (i > 0)
                {
                    if (team.TeamRounds[i].Presentation < team.TeamRounds[i - 1].Presentation)
                    {
                        team.TeamRounds[i].Presentation = team.TeamRounds[i - 1].Presentation;
                    }
                    if (team.TeamRounds[i].Idea < team.TeamRounds[i - 1].Idea)
                    {
                        team.TeamRounds[i].Idea = team.TeamRounds[i - 1].Idea;
                    }
                    if (team.TeamRounds[i].Prototype < team.TeamRounds[i - 1].Prototype)
                    {
                        team.TeamRounds[i].Prototype = team.TeamRounds[i - 1].Prototype;
                    }
                    if (team.TeamRounds[i].Tym < team.TeamRounds[i - 1].Tym)
                    {
                        team.TeamRounds[i].Tym = team.TeamRounds[i - 1].Tym;
                    }
                }
                else
                {
                    if (team.TeamRounds[i].Total == 0)
                    {
                        team.TeamRounds[i].Idea = 0; // or an initial value
                        team.TeamRounds[i].Presentation = 0; // or an initial value
                        team.TeamRounds[i].Prototype = 0; // or an initial value
                        team.TeamRounds[i].Tym = 0; // or an initial value
                    }
                }
            }
        }
        StateHasChanged();
    }
}
