@page "/home"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using BlazorApp1.Models
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<button @onclick="Globals.Game.PrevRound">Previous Round</button>
<button @onclick="Globals.Game.Update">Finish and Next Round</button>


@if (@Globals.Global.Teams.Count > 0)
{
    <h2>Teams: @Globals.Global.Teams.Count</h2>
    <h2>Round: @Globals.Global.CurrentRound</h2>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Team \ Round</th>
                <th>Round @Globals.Global.CurrentRound</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in @Globals.Global.Teams)
            {
                <tr>
                    <td>Team @team.TeamNumber</td>

                    @foreach (var teamRound in team.TeamRounds)
                    {
                        @if (teamRound.RoundNumber == Globals.Global.CurrentRound)
                        {
                            <td><TeamInput Team="@team" TeamRound="@teamRound" /></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

}
